.PokeCard {
  text-decoration: none;
  padding: 0;
  width: 24%;
  height: fit-content;
  display: flex;
  border-radius: 0.4rem;
}

.PokeCard > div {
  padding: 0.4rem 0.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
}

.PokeCard > div > div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: start;
}

.PokeCard p,
.PokeCard h3 {
  margin: 0;
  text-align: left;
  color: black;
}

.PokeCard h3 {
  color: #f2f2f2;
}

.PokeCard img {
  height: 96px;
}

@media screen and (max-width: 1080px) {
  .PokeCard {
    width: 32%;
  }
}

@media screen and (max-width: 800px) {
  .PokeCard {
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  .PokeCard > div {
    flex-direction: column-reverse;
  }
}
