.PokeCard {
    padding: .4rem .8rem;
    width: 20%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .4rem;
}

.PokeCard > div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: start;
}

.PokeCard p,
.PokeCard h3 {
    margin: 0;
    text-align: left;
}

.PokeCard h3 {
    color: #fdf0d5;
}

.PokeCard img {
    height: 96px;
}