.PageSelector {
  display: flex;
  gap: 0.8rem;
}

.PageSelector > input[type="text"] {
  width: 2rem;
  padding: 0.4rem 0.8rem;
  color: #fdf0d5;
  text-align: center;
  background-color: #00000000;
  border: none;
}
