.PokedexPage {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.8rem;
}

@media screen and (max-width: 1080px) {
  .PokedexPage {
    padding: 0.8rem;
  }
}
