.Statbar {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
}

.Statbar footer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.Statbar footer > div:last-child {
    display: flex;
    justify-content: space-between;
}

.Statbar .bar {
    width: 100%;
    background-color: rgb(219, 219, 219);
    border-radius: .4rem;
    margin-bottom: .4rem;
}

.Statbar .bar > div {
    height: .8rem;
    border-radius: .4rem;
}

.Statbar p {
    margin: .4rem 0;
}